$colorBlack: black;

.formCreateUser {
	font-weight: bold;
	font-size: 1.2rem;
}

.fieldsetCreateUser {
	border: 2px solid $colorBlack;
	text-align: center;
}

.newUserData {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	font-weight: 400;

	label {
		margin: 1rem;
	}

	input {
		padding: 0.5rem;
		border: 2px solid $colorBlack;
	}

	select {
		padding: 0.5rem;
		border: 2px solid $colorBlack;
		
	}
}

.btnConfirm {
	width: 20%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 2px solid $colorBlack;
	font-weight: bold;

	&:hover {
		cursor: pointer;
	}
}
